{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Welcome to My Web App</h1>
        <p class="lead">This is a simple web application built with Flask.</p>
        <hr>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Getting Started</h5>
                <p class="card-text">
                    This is a starter template. You can modify it to build your own web application.
                    Check out the about page to learn more.
                </p>
                <a href="/about" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}